.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(200, 4, 4);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-refresh {
  animation: rotate 1s infinite linear;
}
